body {
    font-family: Arial, sans-serif;
    background-color: #f5f5f5;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    margin: 0;
    background-image: url('feedback.jpg');
    background-size: contain;
}

.feedback-container {
    background-color: #fff;
    border-radius: 10px;
    padding: 30px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
    text-align: center;
    max-width: fit-content;
}

h2 {
    margin: 0 0 20px;
    color: #333;
}

.form-group {
    margin: 10px 0;
}

label {
    display: block;
}

textarea {
    width: 100%;
    padding: 10px;
    margin: 5px 0;
    border: 1px solid #ccc;
    border-radius: 5px;
}

button {
    width: 100%;
    padding: 10px;
    background-color: #333;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.2s;
    margin: 5px;
}

button:hover {
    background-color: black;
    color: cyan;
}

.hidden {
    display: none;
}
