body {
    font-family: Arial, sans-serif;
    background-color: #f5f5f5;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    margin: 0;
    background-image: url('workout.jpg');
    background-size: contain;
}

.workout-container {
    background-color: #fff;
    border-radius: 10px;
    padding: 30px;
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.1);
    text-align: center;
    max-width: 400px;
}

h2 {
    margin: 0 0 20px;
    color: #333;
}

form label {
    display: block;
    margin: 10px 0;
}

form input {
    width: 100%;
    padding: 10px;
    margin: 5px 0;
    border: 1px solid #ccc;
    border-radius: 5px;
}

form button {
    width: 100%;
    padding: 10px;
    background-color: #333;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    margin: 5px;
}

form button:hover {
    background-color: black;
    color: cyan;
}

button {
    width: 100%;
    padding: 10px;
    background-color: #333;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    margin: 5px;
}

button:hover {
    background-color: black;
    color: cyan;
}

#workout-type {
    width: 100%;
    height: 30px;
}

.hidden {
    display: none;
}

#congrats-message {
    background-color: #fff;
    border-radius: 10px;
    padding: 20px;
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.1);
    text-align: center;
    margin: 20px 0;
}

#congrats-message p {
    margin: 0;
}
